<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="../template.xhtml">
	<ui:define name="content">
		<p:dialog header="Novo Questionário" widgetVar="dlgQuestionario"
			modal="true" showEffect="fade" width="800" closable="true">
			<h:form id="frmQuestionario">
				<h:panelGrid columns="3">
					<h:outputLabel for="nome" value="Nome" />
					<p:inputText id="nome"
						value="#{questionarioBean.questionarioTela.nome}" label="Nome"
						size="70">
					</p:inputText>
					<p:message for="nome" />
					<p:spacer />
					<p:toolbar style="margin-top: 20px">
						<p:toolbarGroup>
							<p:commandButton id="botaoNovo" icon="ui-icon-plus"
								oncomplete="PF('dlgPergunta').show();"
								action="#{questionarioBean.novaPergunta}" update="frmPergunta" />
						</p:toolbarGroup>
					</p:toolbar>
					<p:spacer />
					<p:spacer />
					<p:dataTable id="listaPerguntas" var="pergunta"
						value="#{questionarioBean.perguntas}" lazy="true"
						emptyMessage="Nenhum registro encontrado.">
						<f:facet name="header">Perguntas</f:facet>
						<p:column headerText="Nome">
							<h:outputText value="#{pergunta.descricao}" />
						</p:column>
						<p:column headerText="Tipo">
							<h:outputText value="#{pergunta.tipoPergunta.label}" />
						</p:column>
						<p:column>
							<p:commandButton id="botaoEditar" icon="ui-icon-pencil"
								action="#{questionarioBean.editarPergunta(pergunta)}"
								oncomplete="PF('dlgPergunta').show();" update="frmPergunta" />
							<p:commandButton id="botaoRemover" icon="ui-icon-trash"
								action="#{questionarioBean.removerPergunta(pergunta)}"
								update="listaPerguntas" />
						</p:column>
					</p:dataTable>
				</h:panelGrid>
				<p:toolbar style="margin-top: 20px">
					<p:toolbarGroup>
						<p:commandButton id="botaoSalvar" icon="ui-icon-disk"
							action="#{questionarioBean.salvar}" value="Salvar"
							process="@form" update="frmPrincipal"
							oncomplete="PF('dlgQuestionario').hide();" />
						<p:commandButton id="botaoCancelar"
							onclick="PF('dlgQuestionario').hide();" value="Cancelar" />
					</p:toolbarGroup>
				</p:toolbar>
			</h:form>
		</p:dialog>
		<p:dialog header="Adicionar Pergunta" widgetVar="dlgPergunta"
			closable="true" modal="true">
			<h:form id="frmPergunta">
				<p:messages id="msg" />
				<h:panelGrid columns="3">
					<h:outputLabel for="nomePergunta" value="Nome" />
					<p:inputText id="nomePergunta"
						value="#{questionarioBean.perguntaTela.descricao}" label="Nome"
						size="70">
					</p:inputText>
					<p:message for="tipo" />
					<h:outputLabel for="tipo" value="Tipo Pergunta" />
					<p:selectOneMenu id="tipo" label="Tipo Pergunta"
						value="#{questionarioBean.perguntaTela.tipoPergunta}">
						<f:selectItem noSelectionOption="true" itemLabel="Selecione"
							itemValue=""></f:selectItem>
						<f:selectItems value="#{questionarioBean.tipoPerguntaCombo}"
							var="esc" itemLabel="#{esc.label}" itemValue="#{esc}"></f:selectItems>
					</p:selectOneMenu>
				</h:panelGrid>
				<p:toolbar style="margin-top: 20px">
					<p:toolbarGroup>
						<p:commandButton id="botaoAdicionarPergunta" icon="ui-icon-disk"
							action="#{questionarioBean.adicionarPergunta}" value="Adicionar"
							update="frmQuestionario:listaPerguntas frmPergunta:msg"
							process="frmPergunta"
							oncomplete="handleDialogComplete(xhr, status, args);" />
						<p:commandButton id="botaoCancelar"
							onclick="PF('dlgPergunta').hide();" value="Cancelar" />
					</p:toolbarGroup>
				</p:toolbar>
			</h:form>
		</p:dialog>
		<h:form id="frmPrincipal">
			<p:toolbar style="margin-top: 20px">
				<p:toolbarGroup>
					<p:commandButton id="botaoNovo" icon="ui-icon-document"
						oncomplete="PF('dlgQuestionario').show();"
						action="#{questionarioBean.novoQuestionario}" />
				</p:toolbarGroup>
			</p:toolbar>
			<p:dataTable id="lista" var="questionario"
				value="#{questionarioBean.questionarioLazy}" lazy="true"
				paginator="true" rows="10"
				paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
				rowsPerPageTemplate="5,10,15"
				emptyMessage="Nenhum registro encontrado.">
				<f:facet name="header">Questionário</f:facet>
				<p:column headerText="Nome">
					<span style="text-align: center"> <h:outputText
							value="#{questionario.nome}" /></span>
				</p:column>
				<p:column>
					<center>
						<p:commandButton id="botaoNovo" icon="ui-icon-pencil"
							action="#{questionarioBean.editarQuestionario(questionario.id)}"
							update="frmQuestionario"
							oncomplete="PF('dlgQuestionario').show();" />
					</center>
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>
</html>

