<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</h:head>
<h:body>
	<h:form id="frm">
		<p:selectOneMenu value="#{testeListaBean.escolaridadeSelecionada}"
			label="Escolaridade">
			<f:selectItem noSelectionOption="true" itemLabel="Selecione"
				itemValue=""></f:selectItem>
			<f:selectItems value="#{testeListaBean.escolaridadeCombo}" var="esc"
				itemLabel="#{esc.label}" itemValue="#{esc}"></f:selectItems>
			<p:ajax event="change" process="@this"
				listener="#{testeListaBean.alteraExibicaoTabela}" update="panelTabela" />
		</p:selectOneMenu>

		<p:outputPanel id="panelTabela">
			<p:dataTable id="lista" var="candidato"
				value="#{testeListaBean.lista}"
				rendered="#{testeListaBean.exibeTabela}"
				emptyMessage="Nenhum registro encontrado.">
				<f:facet name="header">Lista de candidatos</f:facet>
				<p:column headerText="Nome">
					<h:outputText value="#{candidato.nome}" />
				</p:column>

			</p:dataTable>
		</p:outputPanel>
	</h:form>
</h:body>
</html>
