<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="../template.xhtml">
	<ui:define name="content">
		<h:form id="frmCandidato" enctype="multipart/form-data">
			<p:tabView>
				<p:tab title="Dados Pessoais">
					<p:messages id="messages" />
					<h:panelGrid columns="3" cellpadding="5">

						<h:outputLabel for="nome" value="Nome" />
						<p:inputText id="nome" value="#{candidatoBean.candidato.nome}"
							label="Nome" size="70">
						</p:inputText>
						<p:message for="nome" />

						<h:outputLabel for="end" value="Endereço" />
						<p:inputText id="end" value="#{candidatoBean.candidato.end}"
							label="end" size="80">
						</p:inputText>
						<p:message for="end" />
						
						<h:outputLabel for="email" value="E-Mail" />
						<p:inputText id="email" value="#{candidatoBean.candidato.email}"
							label="email" size="30">
						</p:inputText>
						<p:message for="email" />

						<h:outputLabel for="tel" value="Telefone" />
						<p:inputText id="tel" value="#{candidatoBean.candidato.tel}"
							label="tel">
						</p:inputText>
						<p:message for="tel" />

						<h:outputLabel for="dataNasc" value="Data de Nascimento" />
						<p:calendar id="dataNasc"
							value="#{candidatoBean.candidato.dataNasc}" locale="pt"
							pattern="dd/MM/yyyy" maxdate="#{candidatoBean.maxDataNascimento}" />
						<p:message for="dataNasc" />
						<h:outputLabel for="foto" value="Foto" />
						<p:fileUpload id="foto" value="#{candidatoBean.file}"
							fileUploadListener="#{candidatoBean.upload}" fileLimit="1"
							fileLimitMessage="Excedido Limite de arquivos"
							cancelLabel="Cancelar" label="Arquivo" uploadLabel="Anexar"
							invalidFileMessage="Somente arquivos .jpg, .png ou .gif"
							allowTypes="/(\.|\/)(gif|jpe?g|png)$/" sizeLimit="100000"
							mode="advanced" skinSimple="true" />
					</h:panelGrid>
				</p:tab>
				<p:tab title="Conhecimentos">
					<p:panelGrid id="pnlConhecimentos" columns="2" style="border:0px;">
						<h:outputLabel for="esc" value="Escolaridade" />
						<p:selectOneMenu id="esc">
							<f:selectItem noSelectionOption="true" itemLabel="Selecione"
								itemValue=""></f:selectItem>
							<f:selectItems value="#{candidatoBean.escolaridadeCombo}"
								var="esc" itemLabel="#{esc.label}" itemValue="#{esc}"></f:selectItems>
						</p:selectOneMenu>
						<h:outputLabel for="formaCont" value="Forma de Contratação" />
						<p:selectOneMenu id="formaCont">
							<f:selectItem noSelectionOption="true" itemLabel="Selecione"
								itemValue=""></f:selectItem>
							<f:selectItems  value="#{candidatoBean.formaContratacaoCombo}"
								var="cont" itemLabel="#{cont.label}" itemValue="#{cont}"></f:selectItems>
						</p:selectOneMenu>
					</p:panelGrid>
				</p:tab>
				<p:tab title="Experiencia  Profissional">
					<p:panelGrid id="pnlExp">

					</p:panelGrid>
				</p:tab>
			</p:tabView>
			<p:commandButton id="saveBtn" value="Salvar" icon="ui-icon-check"
				action="#{candidatoBean.salvar}" process="@form"
				update="frmCandidato" ajax="true" />

			<p:dataTable id="listaCandidatos" var="candidato"
				value="#{candidatoBean.candidatoLazy}" lazy="true" paginator="true"
				rows="10"
				paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
				rowsPerPageTemplate="5,10,15"
				emptyMessage="Nenhum registro encontrado.">
				<p:column headerText="Nome">
					<h:outputText value="#{candidato.nome}" />
				</p:column>
				<p:column headerText="Endereço">
					<h:outputText value="#{candidato.end}" />
				</p:column>
				<p:column headerText="Telefone">
					<h:outputText value="#{candidato.tel}" />
				</p:column>
				<p:column headerText="Email">
					<h:outputText value="#{candidato.email}" />
				</p:column>
				<p:column headerText="Data de Nascimento">
					<center>
						<h:outputText value="#{candidato.dataNasc}">
							<f:convertDateTime locale="pt" pattern="dd/MM/yyyy"></f:convertDateTime>
						</h:outputText>
					</center>
				</p:column>
				<p:column headerText="">
					<p:commandButton icon="ui-icon-trash"
						action="#{candidatoBean.excluir(candidato.id)}" process="@this"
						update="listaCandidatos" ajax="true" />
					<p:commandButton icon="ui-icon-pencil"
						action="#{candidatoBean.visualizar(candidato.id)}" process="@this"
						update="listaCandidatos" ajax="true" />	
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>
</html>